.StockHeader{
    width: 100vw;
    height: 40px;
    background-color: green;
    position: fixed;
    top: 70px;
    left: 0;
    flex-direction: row;
    a{
        width: calc(100% / 3);
        height: 100%;
        background-color: orange;
        color: white;
        &.active{
            background-color: black;
        }
    }
}