*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
::-webkit-scrollbar{
  width: 10px;
}
.App{
  width: 100vw;
  height: 100vh;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.br{
  width: 80%;
  height: 1px;
  background-color: rgb(133, 133, 133);
  margin-top: 15px;
}
