.fast{
    margin-top: 70px;
    background-color: rgb(79, 77, 77);
    min-height: 90vh;
    .from{
        width: 100vw;
        input{
            width: 80%;
            height: 40px;
            margin: 10px 0;
        }
        button{
            width: 80%;
        }
    }
    
}