.profile{
    width: 100vw;
    height: 100%;
    .change{
        margin-top: 100px;
        width: 80vw;
        height: 300px;
        background-color: blue;
    }
    button{
        width: 80vw;
        height: 40px;
    }
    .logout{
        margin-bottom: 100px;
    }
}