.addTostock{
    background-color: rgb(118, 117, 115);
    height: 100%;
    img{
        width: 80%;
        height: 200px;
        background-color: blue;
    }
    input{
        width: 80%;
        height: 40px;
        outline: none;
        padding: 0 5%;
        margin: 2px;
    }
    button{
        width: 80%;
        margin-top: 20px;
    }
}